@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
ol {
  list-style-type: decimal;
}
ul,
ol {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
ol li {
  margin-bottom: 1rem;
}
ul {
  list-style-type: disc;
}
ul li {
  margin-bottom: 0.5rem;
}
a {
  color: var(--foreground);
  text-decoration: underline;
}

a:hover {
  color: #ff6600;
}

a:visited {
  color: #ff6600;
}

a:active {
  color: #ff6600;
}

a:link {
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
